<form>
    <div class="form-group">
      <label >nom</label>
      <input type="text" class="form-control"   placeholder="Enter votre nom">
     
    </div>
    <div class="form-group">
        <label >prénom</label>
        <input type="text" class="form-control"   placeholder="Enter votre prénom">
       
      </div>
      <div class="form-group">
        <label >jobe</label>
        <input type="text" class="form-control"  placeholder="Enter votre jobe">
       
      </div>
      <div class="form-group">
        <label >citation favorite</label>
        <input type="text" class="form-control"   placeholder="citation favorite">
       
      </div>
      <div class="form-group">
        <label >décrivez  nous votre travail</label>
        <input type="text" class="form-control"   placeholder="mots clé de votre travail">
       
      </div>
      <div class="form-group">
        <label >mots clé de votre travail</label>
        <input type="text" class="form-control"   placeholder="mots clé de votre travail">
       
      </div>
      <div class="form-group">
        <label >image</label>
        <input type="file" class="form-control"  >
       
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>