.theme1 {
  font-size: 20px;
  font-family: Garamond;
  color: #2C93FF;
}


.theme2 {
  font-size: 40px;
  font-family: Aldhabi;
  color: #506A85;
}


.theme2 {
  font-size: 30px;
  font-family: "Sitka Heading";
  color: aquamarine;
}
